<html>
  <head>
    {% if hackathon %}
    <title>Bulk SMS - {{ hackathon }}</title>
    {% else %}
    <title> Bulk SMS </title>
    {% endif %}
  </head>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <p class='flash-{{ category }}'>
          {{ message }}
        </p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <body>
    <div>
      Bulk SMS:
      <a href="/index">Home</a>
      <a href="/send">Send</a>
      <a href="/number">Numbers</a>
      <a href="/sender">Senders</a>
      <a href="/subscription">Subscriptions</a>
    </div>
    <hr>
    {% block content %}
    {% endblock %}
  </body>
</html>
