{% extends 'base.html' %}
{% block content %}
  <h1> Send message here </h1>
  <form action="" method="post" name="send_message">
    {{ form.hidden_tag() }}
    <div>
      <h3> Message text: </h3>
      {{ form.message_text(size=200) }}
    </div>
    <div>
      {{ form.subscription }}
    </div>
    <input type="submit" value="Send message">
  </form>

  {% if messages|length > 0 %}
  <h3> Previously sent messages </h3>
  <ul>
  {% for message in messages %}
    <li> {{ message.text }} </li>
  {% endfor %}
  </ul>
  {% endif %}

{% endblock %}
